mat-card {
  display: flex;
  flex-direction: column;

  // force card to take up full width of parent container
  width: 100%;
  //force card to take up full height of parent container
  height: 100%;
}
