mat-list-option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  margin-left: auto;
}

mat-card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  min-height: 90vh;
  max-height: 90vh;

  mat-selection-list {
    // keep list within card at all times
    max-height: calc(90vh - 160px);
    overflow: auto;
  }

  mat-list-option {
    height: 100px;
  }
}
