<mat-card>
  <mat-card-header>
    <mat-card-title>College Search</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Search for colleges" />
    </mat-form-field>
    <mat-selection-list
      #collegelist
      hideSingleSelectionIndicator
      [multiple]="false"
    >
      <mat-list-option
        *ngFor="let college of colleges"
        (selectedChange)="
          selectCollege(collegelist.selectedOptions.selected[0].value)
        "
        [value]="college"
      >
        <app-college-item [college]="college"></app-college-item>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
