mat-list-option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  margin-left: auto;
}


