<div class="page">
  <div class="page-content">
    <mat-card class="card">
      <mat-card-content>
        <mat-stepper [linear]="true">
          <mat-step [stepControl]="userGeneralInfoForm">
            <ng-template matStepLabel>General Info</ng-template>
            <app-general-info
              [generalUserInfoForm]="userGeneralInfoForm"
            ></app-general-info>
          </mat-step>
          <mat-step [stepControl]="userScoreInfoForm">
            <ng-template matStepLabel>Grades</ng-template>
            <app-score-info
              [userScoreInfoForm]="userScoreInfoForm"
            ></app-score-info>
          </mat-step>
          <mat-step [stepControl]="userAdvancedCollegePreferencesForm">
            <ng-template matStepLabel>College Preferences</ng-template>
            <app-college-info
              [advancedCollegeInfoForm]="userAdvancedCollegePreferencesForm"
            ></app-college-info>
          </mat-step>

          <mat-step [stepControl]="userBasicMajorPreferencesForm">
            <ng-template matStepLabel>Major Preferences</ng-template>
            <app-major-info
              [basicMajorPreferencesForm]="userBasicMajorPreferencesForm"
              [advancedMajorPreferencesForm]="userAdvancedMajorPreferencesForm"
            ></app-major-info>
          </mat-step>

          <mat-step [stepControl]="userInterestsForm">
            <ng-template matStepLabel>Career Preferences</ng-template>
            <app-career-info
              [interestForm]="userInterestsForm"
            ></app-career-info>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Review and Confirm</ng-template>
            <app-review
              [userGeneralInfoForm]="userGeneralInfoForm"
              [userScoreInfoForm]="userScoreInfoForm"
              [userAdvancedCollegePreferencesForm]="
                userAdvancedCollegePreferencesForm
              "
              [userBasicMajorPreferencesForm]="userBasicMajorPreferencesForm"
              [userAdvancedMajorPreferencesForm]="
                userAdvancedMajorPreferencesForm
              "
              [userBasicCareerPreferencesForm]="userInterestsForm"
              (submitQuestionnaire)="handleSubmission()"
            ></app-review>
          </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
