<div class="page">
  <div class="page-content">
    <mat-card class="card">
      <mat-card-content>
        <mat-stepper [linear]="true">
          <mat-step [stepControl]="userForm">
            <ng-template matStepLabel>General Info</ng-template>
            <app-general-info [userForm]="userForm"></app-general-info>
          </mat-step>
          <mat-step [stepControl]="userScoreForm">
            <ng-template matStepLabel>Grades</ng-template>
            <app-score-info
              [userScoreInfoForm]="userScoreForm"
            ></app-score-info>
          </mat-step>
          <mat-step [stepControl]="userCollegeForm">
            <ng-template matStepLabel>College Preferences</ng-template>
            <app-college-info
              [collegeForm]="userCollegeForm"
            ></app-college-info>
          </mat-step>

          <mat-step [stepControl]="userMajorsForm">
            <ng-template matStepLabel>Major Preferences</ng-template>
            <app-major-info [majorsForm]="userMajorsForm"></app-major-info>
          </mat-step>

          <mat-step [stepControl]="userInterestsForm">
            <ng-template matStepLabel>Career Preferences</ng-template>
            <app-career-info
              [interestForm]="userInterestsForm"
            ></app-career-info>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Review and Confirm</ng-template>
            <!-- <app-review
              [userForm]="userForm"
              [userScoreInfoForm]="userScoreInfoForm"
              [userAdvancedCollegePreferencesForm]="
                userAdvancedCollegePreferencesForm
              "
              [userMajorsForm]="userMajorsForm"
              [userAdvancedMajorPreferencesForm]="
                userAdvancedMajorPreferencesForm
              "
              [userBasicCareerPreferencesForm]="userInterestsForm"
              (submitQuestionnaire)="handleSubmission()"
            ></app-review> -->
          </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
