<div class="page">
  <div class="page-content">
    <mat-card>
      <mat-card-content>
        <mat-stepper isLinear>
          <mat-step [stepControl]="userGeneralInfoForm">
            <ng-template matStepLabel>General Info</ng-template>
            <app-general-info
              [generalUserInfoForm]="userGeneralInfoForm"
            ></app-general-info>
          </mat-step>
          <mat-step [stepControl]="userScoreInfoForm">
            <ng-template matStepLabel>Grades</ng-template>
            <app-score-info
              [userScoreInfoForm]="userScoreInfoForm"
            ></app-score-info>
          </mat-step>
          <mat-step [stepControl]="userBasicCollegePreferencesForm">
            <ng-template matStepLabel>College Preferences</ng-template>
            <app-college-info
              [basicCollegeInfoForm]="userBasicCollegePreferencesForm"
              [advancedCollegeInfoForm]="userAdvancedCollegePreferencesForm"
            ></app-college-info>
          </mat-step>

          <mat-step [stepControl]="userBasicMajorPreferencesForm">
            <ng-template matStepLabel>Major Preferences</ng-template>
            <app-major-info
              [basicMajorPreferencesForm]="userBasicMajorPreferencesForm"
              [advancedMajorPreferencesForm]="userAdvancedMajorPreferencesForm"
            ></app-major-info>
          </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
