<mat-card class="scholarship-card">
  <mat-card-header>
    <mat-card-title>
      <h1>
        <strong>{{ scholarship.scholarshipName }}</strong>
        <div class="fill-remaining-space"></div>
        <h3>{{ scholarship.programOrgName }}</h3>
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>
        <strong> Amount: {{ scholarship.amountDisplay | money }} </strong> |
        Open: {{ scholarship.scholarshipOpen | date : "MM/dd/yyyy" }} -
        {{ scholarship.scholarshipDeadline | date : "MM/dd/yyyy" }}
      </h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="reqList">
      <!-- inline list of whether essay is required, is need based, or is merit based -->
      <li *ngIf="scholarship.isEssayRequired">
        <mat-icon>edit</mat-icon>
      </li>
      <li *ngIf="scholarship.isNeedBased">
        <mat-icon>attach_money</mat-icon>
      </li>
      <li *ngIf="scholarship.isMeritBased">
        <mat-icon>star</mat-icon>
      </li>
      <div class="fill-remaining-space"></div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/scholarship', scholarship.id]"
      >
        View Details
      </button>
    </div>
  </mat-card-content>
</mat-card>
