<!-- General Info -->
<div class="info-box">
  <div class="info">
    <h2 class="title">General Information:</h2>
    <!-- Address -->
    <div class="info-item">
      <ul>
        <p class="label">Address:</p>
        <address>
          {{ college.locationInfo.streetAddress }} <br />
          {{ college.locationInfo.city }},
          {{ college.locationInfo.state }}
          {{ college.locationInfo.country }}
          {{ college.locationInfo.zipCode }}
        </address>
      </ul>
    </div>
    <mat-divider></mat-divider>

    <!-- College Info-->
    <div class="info-item">
      <ul>
        <p>Setting: {{ college.collegeInfo.schoolSetting }}</p>
        <p>Size: {{ college.collegeInfo.schoolSize }}</p>
        <p *ngIf="college.collegeInfo.religiousAffiliation">
          Religious Affiliation:
          {{ college.collegeInfo.religiousAffiliation }}
        </p>
        <p>Type: {{ college.collegeInfo.schoolTypeByYears }} Year</p>
      </ul>
    </div>

    <!-- Funding, language and Accreditations -->
    <div class="info-item">
      <ul>
        <p class="label">Funding:</p>
        <p>{{ college.funding }}</p>
        <p class="label">Language(s):</p>
        <span *ngFor="let lang of college.languages">{{ lang }},&nbsp;</span>
        <p class="label">Accreditations:</p>
        <span *ngFor="let acc of college.accreditations">{{ acc }},&nbsp;</span>
      </ul>
    </div>
  </div>
  <div class="info">
    <h2 class="title">Divisions and Degrees:</h2>
    <!-- Divisions: list of divisions, all with a name, and a list of fields of study -->
    <div class="info-item">
      <ul>
        <p class="label">Divisions:</p>
        <ul>
          <li *ngFor="let division of college.divisions">
            {{ division.name }}
            <ul>
              <li *ngFor="let field of division.fieldsOfStudy">
                {{ field }}
              </li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>

    <!-- Degrees, same setup as divisions -->
    <div class="info-item">
      <ul>
        <p class="label">Degrees:</p>
        <ul>
          <li *ngFor="let degree of college.collegeMajors">
            {{ degree.name }}
            <ul>
              <li *ngFor="let field of degree.fieldsOfStudy">
                {{ field }}
              </li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
