<div>
  <form [formGroup]="majorsForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Majors</mat-label>
        <input
          #searchInput
          matInput
          type="text"
          [formControl]="searchForm"
          placeholder="Search for majors"
          [matAutocomplete]="auto"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let major of filteredMajors | async"
            [value]="major"
            (click)="addMajor(major)"
          >
            {{ major }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchForm.invalid"
          >Please enter a valid major</mat-error
        >
      </mat-form-field>

      <mat-chip-listbox>
        <mat-chip
          *ngFor="let major of selectedMajors"
          (removed)="removeMajor(major)"
        >
          {{ major }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </form>
  <div class="stepper-buttons">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</div>
