<div class="info-box">
  <div class="info">
    <h2 class="title-inline">Average Net Cost:&ensp;&ensp;</h2>
    <span>{{ getValue(getCost()?.avgNetPrice) | money }}</span>

    <!-- Sticker Price -->
    <div class="info-item">
      <ul>
        <p class="label">Sticker Price:</p>
        <table>
          <tr>
            <td>In-State:</td>
            <td>{{ getValue(getCost()?.stickerPrice?.inState) | money }}</td>
          </tr>
          <tr>
            <td>Out-of-State:</td>
            <td>{{ getValue(getCost()?.stickerPrice?.outOfState) | money }}</td>
          </tr>
        </table>
      </ul>
    </div>

    <!-- Income Price -->
    <div class="info-item">
      <ul>
        <p class="label">Net price based on Family Income:</p>
        <table>
          <tr>
            <td>110k+:</td>
            <td>{{ getValue(getCost()?.netPriceIncome?.['110k+']) | money}}</td>
          </tr>
          <tr>
            <td>75-110k:</td>
            <td>
              {{ getValue(getCost()?.netPriceIncome?.['75-110k']) | money }}
            </td>
          </tr>
          <tr>
            <td>48-75k:</td>
            <td>
              {{ getValue(getCost()?.netPriceIncome?.['48-75k']) | money }}
            </td>
          </tr>
          <tr>
            <td>30-48k:</td>
            <td>
              {{ getValue(getCost()?.netPriceIncome?.['30-48k']) | money }}
            </td>
          </tr>
          <tr>
            <td>0-30k:</td>
            <td>{{ getValue(getCost()?.netPriceIncome?.['<30k']) | money }}</td>
          </tr>
        </table>
      </ul>
    </div>

    <div class="info-item">
      <ul>
        <p class="label">Other Costs:</p>
        <table>
          <tr *ngIf="getCost()?.otherCosts?.supplies">
            <td>Books and Supplies:</td>
            <td>{{ getValue(getCost()?.otherCosts?.supplies) | money }}</td>
          </tr>
          <tr *ngIf="getCost()?.otherCosts?.housing">
            <td>Room and Board:</td>
            <td>{{ getValue(getCost()?.otherCosts?.housing) | money }}</td>
          </tr>
          <tr *ngIf="getCost()?.otherCosts?.transportation">
            <td>Transportation:</td>
            <td>
              {{ getValue(getCost()?.otherCosts?.transportation) | money }}
            </td>
          </tr>
          <tr *ngIf="getCost()?.otherCosts?.personal">
            <td>Other Expenses:</td>
            <td>{{ getValue(getCost()?.otherCosts?.personal) | money }}</td>
          </tr>
        </table>
      </ul>
    </div>
  </div>
</div>
