<div class="info-box">
  <div class="info">
    <h2 class="title">Admission Rate:</h2>
    <!-- GPA Range -->
    <div class="info-item">
      <ul>
        <p class="label">GPA Range:</p>
        <table>
          <tr *ngFor="let gpaLabel of gpaRanges; let i = index">
            <td>{{ gpaLabel }}:</td>
            <td *ngIf="getAdmissions().gpaRange[i].rate">
              {{ getValue(getAdmissions().gpaRange[i].rate) }}%
            </td>
            <td *ngIf="!getAdmissions().gpaRange[i].rate">Not Available</td>
          </tr>
        </table>
      </ul>
    </div>

    <!-- SAT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average SAT Scores:</span>
        <span class="value">
          {{ getValue(getAdmissions().satRange?.satTotalRange?.min) }} -
          {{ getValue(getAdmissions().satRange?.satTotalRange?.max) }}
        </span>
        <ul>
          <table>
            <tr>
              <td><strong>Math:</strong></td>
              <td>
                {{ getValue(getAdmissions().satRange?.satMath?.min) }} -
                {{ getValue(getAdmissions().satRange?.satMath?.max) }}
              </td>
            </tr>
            <tr>
              <td><strong>Reading:</strong></td>
              <td>
                {{ getValue(getAdmissions().satRange?.satReading?.min) }}
                -
                {{ getValue(getAdmissions().satRange?.satReading?.max) }}
              </td>
            </tr>
          </table>
        </ul>
      </ul>
    </div>

    <!-- ACT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average ACT Scores:</span>
        <span class="value">
          {{ getValue(getAdmissions().actRange?.actCompositeRange?.min) }} -
          {{ getValue(getAdmissions().actRange?.actCompositeRange?.max) }}
        </span>
      </ul>
    </div>
  </div>

  <!-- Acceptance and Retention -->
  <div class="info">
    <h2 class="title">Acceptance and Retention</h2>
    <!-- Acceptance -->
    <ul>
      <div class="info-item">
        <span class="label">Acceptance Rate:</span>
        <span class="value">{{
          getAdmissions().acceptanceRate?.acceptanceRate
        }}</span>
        <p
          *ngIf="
            getAdmissions().acceptanceRate?.acceptanceDescription !=
            'Not Available'
          "
        >
          {{ getAdmissions().acceptanceRate?.acceptanceDescription }}
        </p>
        <ul>
          <table>
            <tr>
              <td>Applicants:</td>
              <td>
                {{ getValue(getAdmissions().acceptanceRate?.totalApplicants) }}
              </td>
            </tr>
            <tr>
              <td>Admitted:</td>
              <td>
                {{ getValue(getAdmissions().acceptanceRate?.admitted) }}
              </td>
            </tr>
            <tr>
              <td>Enrolled:</td>
              <td>
                {{ getValue(getAdmissions().acceptanceRate?.enrolled) }}
              </td>
            </tr>
          </table>
        </ul>
      </div>
      <!-- Graduation and Retention -->
      <div class="info-item">
        <span class="label">Graduation Rate:</span>
        <span class="value">{{ getAcademics().graduationRate }}</span>
      </div>

      <div class="info-item">
        <span class="label">Retention Rate:</span>
        <span class="value">{{ getAcademics().retentionRate }}</span>
      </div>

      <div class="info-item">
        <span class="label">Student Faculty Ratio:</span>
        <span class="value">{{ getAcademics().studentsToFacultyRatio }}</span>
      </div>
    </ul>
  </div>
</div>
