<div class="info-box">
  <div class="info">
    <h2 class="title">Admission Rate:</h2>
    <!-- GPA Range -->
    <div class="info-item">
      <ul>
        <p class="label">GPA Range:</p>
        <table>
          <tr>
            <td>0-0.99</td>
            <td>{{ college.highSchool.gpaBelow100 | pc }}</td>
          </tr>
          <tr>
            <td>1-1.99</td>
            <td>{{ college.highSchool.gpa100To199 | pc }}</td>
          </tr>
          <tr>
            <td>2-2.49</td>
            <td>{{ college.highSchool.gpa200To249 | pc }}</td>
          </tr>
          <tr>
            <td>2.5-2.99</td>
            <td>{{ college.highSchool.gpa250To299 | pc }}</td>
          </tr>
          <tr>
            <td>3-3.24</td>
            <td>{{ college.highSchool.gpa300To324 | pc }}</td>
          </tr>
          <tr>
            <td>3.25-3.49</td>
            <td>{{ college.highSchool.gpa325To349 | pc }}</td>
          </tr>
          <tr>
            <td>3.5-3.74</td>
            <td>{{ college.highSchool.gpa350To374 | pc }}</td>
          </tr>
          <tr>
            <td>3.75-3.99</td>
            <td>{{ college.highSchool.gpa375To399 | pc }}</td>
          </tr>
          <tr>
            <td>4.00+</td>
            <td>{{ college.highSchool.gpa400 | pc }}</td>
          </tr>
        </table>
      </ul>
    </div>

    <!-- SAT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average SAT Scores:</span>
        <span class="value">
          {{
            handleScores(
              getSatCompositeScores().satCompositeScore25thPercentile,
              getSatCompositeScores().satCompositeScore75thPercentile
            )
          }}
        </span>
        <ul>
          <table>
            <tr>
              <td><strong>Math:</strong></td>
              <td>
                {{
                  handleScores(
                    getSatScores().rsatMathScore25thPercentile,
                    getSatScores().rsatMathScore75thPercentile
                  )
                }}
              </td>
            </tr>
            <tr>
              <td><strong>Reading:</strong></td>
              <td>
                {{
                  handleScores(
                    getSatScores().rsatEbrwScore25thPercentile,
                    getSatScores().rsatEbrwScore75thPercentile
                  )
                }}
              </td>
            </tr>
          </table>
        </ul>
      </ul>
    </div>

    <!-- ACT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average ACT Scores:</span>
        <span class="value">
          {{
            handleScores(
              getActScores().actCompositeScore25thPercentile,
              getActScores().actCompositeScore75thPercentile
            )
          }}
        </span>
      </ul>
    </div>
  </div>

  <!-- Acceptance and Retention -->
  <div class="info">
    <h2 class="title">Acceptance and Retention</h2>
    <!-- Acceptance -->
    <ul>
      <div class="info-item">
        <span class="label">Acceptance Rate:</span>
        <span class="value">{{ getAdmissions().acceptanceRate | pc }}</span>
        <table>
          <tr>
            <td>Applicants:</td>
            <td>
              {{
                getValue(getAdmissions().applicantInformation.totalApplicants)
              }}
            </td>
          </tr>
          <tr>
            <td>Admitted:</td>
            <td>
              {{
                getValue(
                  getAdmissions().applicantInformation.admittedApplicants
                )
              }}
            </td>
          </tr>
          <tr>
            <td>Enrolled:</td>
            <td>
              {{
                getValue(
                  getAdmissions().applicantInformation.enrolledApplicants
                )
              }}
            </td>
          </tr>
        </table>
      </div>
      <!-- Graduation and Retention -->
      <div class="info-item">
        <span class="label">Graduation Rate:</span>
        <span class="value">{{ college.collegeInfo.graduationRate | pc }}</span>
      </div>
    </ul>
  </div>
</div>
