<div class="info-box">
  <div class="info">
    <h2 class="title">Admission Rate:</h2>
    <!-- GPA Range -->
    <div class="info-item">
      <ul>
        <p class="label">GPA Range:</p>
        <table>
          <tr>
            <td>0-0.99</td>
            <td>{{ getValue(college.highSchoolGpa.gpaBelow100) }}</td>
          </tr>
          <tr>
            <td>1-1.99</td>
            <td>{{ getValue(college.highSchoolGpa.gpa100To199) }}</td>
          </tr>
          <tr>
            <td>2-2.49</td>
            <td>{{ getValue(college.highSchoolGpa.gpa200To249) }}</td>
          </tr>
          <tr>
            <td>2.5-2.99</td>
            <td>{{ getValue(college.highSchoolGpa.gpa250To299) }}</td>
          </tr>
          <tr>
            <td>3-3.24</td>
            <td>{{ getValue(college.highSchoolGpa.gpa300To324) }}</td>
          </tr>
          <tr>
            <td>3.25-3.49</td>
            <td>{{ getValue(college.highSchoolGpa.gpa325To349) }}</td>
          </tr>
          <tr>
            <td>3.5-3.74</td>
            <td>{{ getValue(college.highSchoolGpa.gpa350To374) }}</td>
          </tr>
          <tr>
            <td>3.75-3.99</td>
            <td>{{ getValue(college.highSchoolGpa.gpa375To399) }}</td>
          </tr>
          <tr>
            <td>4.00+</td>
            <td>{{ getValue(college.highSchoolGpa.gpa400) }}</td>
          </tr>
        </table>
      </ul>
    </div>

    <!-- SAT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average SAT Scores:</span>
        <span class="value">
          {{
            getValue(college.satCompositeScores.satCompositeScore25thPercentile)
          }}
          -
          {{
            getValue(college.satCompositeScores.satCompositeScore75thPercentile)
          }}
        </span>
        <ul>
          <table>
            <tr>
              <td><strong>Math:</strong></td>
              <td>
                {{ getValue(college.satScores.rsatMathScore25thPercentile) }} -
                {{ getValue(college.satScores.rsatMathScore75thPercentile) }}
              </td>
            </tr>
            <tr>
              <td><strong>Reading:</strong></td>
              <td>
                {{ getValue(college.satScores.rsatEbrwScore25thPercentile) }}
                -
                {{ getValue(college.satScores.rsatEbrwScore75thPercentile) }}
              </td>
            </tr>
          </table>
        </ul>
      </ul>
    </div>

    <!-- ACT Range -->
    <div class="info-item">
      <ul>
        <span class="label">Average ACT Scores:</span>
        <span class="value">
          {{ getValue(college.actScores.actCompositeScore25thPercentile) }} -
          {{ getValue(college.actScores.actCompositeScore75thPercentile) }}
        </span>
      </ul>
    </div>
  </div>

  <!-- Acceptance and Retention -->
  <div class="info">
    <h2 class="title">Acceptance and Retention</h2>
    <!-- Acceptance -->
    <ul>
      <div class="info-item">
        <span class="label">Acceptance Rate:</span>
        <span class="value">{{ getAdmissions().acceptanceRate }}</span>
        <table>
          <tr>
            <td>Applicants:</td>
            <td>
              {{ getAdmissions().applicantInformation.totalApplicants }}
            </td>
          </tr>
          <tr>
            <td>Admitted:</td>
            <td>
              {{
                getValue(
                  getAdmissions().applicantInformation.admittedApplicants
                )
              }}
            </td>
          </tr>
          <tr>
            <td>Enrolled:</td>
            <td>
              {{
                getValue(
                  getAdmissions().applicantInformation.enrolledApplicants
                )
              }}
            </td>
          </tr>
        </table>
      </div>
      <!-- Graduation and Retention -->
      <div class="info-item">
        <span class="label">Graduation Rate:</span>
        <span class="value">{{ college.graduationRate }}</span>
      </div>
    </ul>
  </div>
</div>
