mat-card {
  //make the card fill the space
  width: 100%;
  min-height: 85vh;
  max-height: 85vh;
  overflow: auto;

  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.info-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  .info {
    margin-bottom: 10px;

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .title-inline {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
      display: inline;
    }
    .info-item {
      margin-top: 10px;
      flex-wrap: wrap;
      .label {
        margin-right: 10px;
        font-size: 16px;
        font-weight: 600;
      }
      .value {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .info:last-child {
    margin-bottom: 0;
  }
}

table {
  border-spacing: 5px;
}
