.left-pane {
  width: 30%;
  float: left;
  padding: 10px;
  margin: 10px;
  max-height: 60%;  
}

.page-content{
  // align both cards so that their bottoms are aligned
}

.main-pane {
  margin: 10px;
  padding: 10px;
  float: left;
  // make width the rest of the page, but if window shrinks, keep a minimum width
  width: calc(65% - 20px);
  min-width: 300px;
}

mat-card {
  display: flex;
  flex-direction: column;
}