<div class="page-title">
  <h1>Try out our API!</h1>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Increment Number Here!</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input matInput type="number" [(ngModel)]="number" />
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="increment()">
    Increment number
  </button>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Enter your Name and Age!</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input matInput type="text" placeholder="Name" [(ngModel)]="name" />
    <input matInput type="number" placeholder="Age" [(ngModel)]="age" />
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="addAge()">Submit</button>
  <mat-card-content *ngIf="addedAge">
    <h3>{{ response | json }}</h3>
    <h4>{{ response.name}} will be {{ response.age }} years old!</h4>
  </mat-card-content>
</mat-card>
