<form [formGroup]="highschoolForm">
  <div class="form-group">
    <mat-form-field>
      <mat-label for="state">State</mat-label>
      <input
        matInput
        type="text"
        placeholder="State"
        [formControl]="stateSearchForm"
        required
        [matAutocomplete]="autoState"
      />
      <mat-autocomplete #autoState="matAutocomplete">
        <mat-option
          *ngFor="let state of filteredStates | async"
          [value]="state"
          (click)="setState(state)"
          >{{ state }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-form-field *ngIf="highschools">
    <input
      matInput
      type="text"
      placeholder="Search with Name or CEEB Code"
      [formControl]="highschoolSearchForm"
      [matAutocomplete]="autoHighschool"
    />
    <mat-autocomplete #autoHighschool="matAutocomplete">
      <mat-option
        *ngFor="let h of filteredHighschools | async"
        [value]="h.name"
        (click)="setHighschool(h)"
        >{{ h.name }} ({{ h.code }})</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>
</form>
<div class="stepper-buttons">
  <button mat-button matStepperPrevious>Back</button>
  <div class="fill-remaining-space"></div>
  <button mat-button matStepperNext>Next</button>
</div>
