<form [formGroup]="highschoolForm">
  <!-- Select State required -->
  <div class="form-group">
    <mat-form-field>
      <mat-label for="state">State</mat-label>
      <mat-select formControlName="state">
        <mat-option
          *ngFor="let s of stateEnums"
          [value]="s"
          (onSelectionChange)="getHighschools(s)"
          >{{ s }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group" *ngIf="highschools">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="High School"
        [formControl]="highschoolSearchForm"
        [matAutocomplete]="autoHighschool"
      />
      <mat-autocomplete #autoHighschool="matAutocomplete">
        <mat-option
          *ngFor="let h of filteredHighschools | async"
          [value]="h"
          (click)="setHighschool(h)"
          >{{ h }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
