<mat-sidenav-container class="sidenav-container" autosize [hasBackdrop]="true">
  <mat-sidenav #sidenav [mode]="'over'" (click)="sidenav.toggle()">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span></mat-list-item
      >
      <mat-list-item routerLink="/college-search">
        <mat-icon mat-list-icon>school</mat-icon>
        <span mat-line>Colleges</span></mat-list-item
      >
      <mat-list-item routerLinnk="/scholarship-search">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <span mat-line>Scholarships</span>
      </mat-list-item>
      <mat-list-item routerLink="/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line>Profile</span></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-nav *ngIf="isAuthenticated()" [sidenav]="sidenav"></app-main-nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
