mat-list-item {
  .mat-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    font-size: 1.1rem;
    display: inline-flex;
    vertical-align: middle;
  }
}

mat-sidenav-content {
  overflow: hidden;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100%;
  height: auto;
}

.sidenav {
  width: 200px;
}

mat-sidenav-content {
  overflow: hidden;
}

.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
}