mat-list-item {
  .mat-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    font-size: 1.1rem;
    display: inline-flex;
    vertical-align: middle;
  }
}

mat-sidenav-content {
  overflow: hidden;
}

.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
}