mat-list-item {
  .mat-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    font-size: 1.1rem;
    display: inline-flex;
    vertical-align: middle;
  }
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100%;
  height: auto;
}

.sidenav {
  width: 200px;
}

mat-sidenav-content {
  overflow-x: hidden;
  overflow: hidden;
}

.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
}

.overlay-page {
  // overlay the entire page
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // center the content
  display: flex;
  justify-content: center;
  align-items: center;
  // make it pretty
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
