<div>
  <form [formGroup]="interestForm">
    <mat-form-field>
      <mat-label>Interests</mat-label>
      <input
        matInput
        type="text"
        [formControl]="criteriaSearchForm"
        placeholder="Search for interests"
        [matAutocomplete]="auto"
      />
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let career of filteredInterestCriterias | async"
          [value]="career"
          (click)="addInterest(career)"
        >
          {{ career }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="stepper-buttons">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</div>
