<form [formGroup]="userForm">
  <div class="form-group">
    <mat-form-field>
      <mat-label for="age">Age</mat-label>
      <input
        matInput
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
      />
    </mat-form-field>

    <form [formGroup]="demographicForm">
      <mat-form-field>
        <mat-label for="citizenship">Citizenship</mat-label>
        <mat-select formControlName="citizenship">
          <mat-option *ngFor="let c of citizenshipEnums" [value]="c">{{
            c
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    
    <form [formGroup]="identityForm">
      <mat-form-field>
        <mat-label for="genderIdentity">Gender</mat-label>
        <mat-select formControlName="genderIdentity">
          <mat-option *ngFor="let g of genderEnums" [value]="g">{{
            g
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="sexualOrientation">Sexual Orientation</mat-label>
        <mat-select formControlName="sexualOrientation">
          <mat-option *ngFor="let s of sexualOrientationEnums" [value]="s">{{
            s
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="ethnicity">Ethnicity</mat-label>
        <mat-select formControlName="ethnicity">
          <mat-option *ngFor="let e of ethnicityEnums" [value]="e">{{
            e
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="nationality">Nationality</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let n of nationalityEnums" [value]="n">{{
            n
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-form-field>
      <mat-label for="education">Educational Level</mat-label>
      <mat-select formControlName="educationLevel">
        <mat-option *ngFor="let e of educationLevelEnums" [value]="e">{{
          e
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="occupation">Occupation</mat-label>
      <mat-select formControlName="occupation">
        <mat-option *ngFor="let o of occupationEnums" [value]="o">{{
          o
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="income">Family Income</mat-label>
      <mat-select formControlName="incomeLevel">
        <mat-option *ngFor="let i of incomeLevelEnums" [value]="i">{{
          i
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="maritalStatus">Marital Status</mat-label>
      <mat-select formControlName="maritalStatus">
        <mat-option *ngFor="let m of maritalStatusEnums" [value]="m">{{
          m
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="address">
      <app-address [addressForms]="addressForms"></app-address>
      <button matSuffix mat-icon-button (click)="getLocation()">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>
  </div>
  <div class="stepper-buttons">
    <button mat-button matStepperNext (click)="bindAddress()">Next</button>
  </div>
</form>
